#header {
  background-color: transparent;
}

.resume-card span,
.resume-card strong {
  display: block;
}

.resume-card li {
  display: block;
}

.resume-card strong {
  margin-bottom: 10px;
}

.resume-card span {
  display: inline-block;
  font-size: 14px;
}

.resume-card small {
  margin-bottom: 6px;
}

.resume-card span:nth-of-type(1) {
  font-style: italic;
  margin-right: 16px;
  color: var(--accent-color);
}

.resume-card span:nth-of-type(2) {
  color: #888;
}

ul.short-list {
  display: block;
}

ul.short-list li {
  display: inline-block;
  margin-bottom: 5px;
}

@media print {
  #header {
    padding: 0 0 40px 0;
  }

  ul.resume-card li {
    padding: 0;
    border: none;
  }

  ul.short-list li {
    padding: 0 18px 10px 0;
    border: none;
  }

  .back {
    display: none;
  }

  .page-break {
    page-break-after: always;
  }
}
