.resume-card span,
.resume-card strong {
  display: block;
}

.resume-card li {
  display: block;
}

.resume-card strong {
  margin-bottom: 10px;
}

.resume-card span {
  display: inline-block;
  font-size: 14px;
}

.resume-card small {
  margin-bottom: 6px;
}

.resume-card span:nth-of-type(1) {
  font-style: italic;
  margin-right: 16px;
  color: var(--accent-color);
}

.resume-card span:nth-of-type(2) {
  color: #888;
}

ul.short-list {
  display: block;
}

ul.short-list li {
  display: inline-block;
  margin-bottom: 5px;
}

@media print {
  :root {
    --accent-color: black;
  }

  #main {
    padding-top: 0;
  }

  .topline {
    font-size: 14px;
  }

  .web-only {
    display: none;
  }

  .subtitle {
    margin: 0;
  }

  h2 {
    margin-top: 10px;
    font-size: 20px;
    color: var(--accent-color);
  }

  strong {
    color: var(--accent-color);
  }

  ul.resume-card li {
    padding: 0;
    border: none;
    margin-bottom: 6px;
  }

  ul.short-list li {
    padding: 0 10px 6px 0;
    border: none;
    font-size: 12px;
    color: var(--accent-color);
  }

  .back {
    display: none;
  }

  .page-break {
    page-break-after: always;
  }
}
