<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/shared.css" />
    <link rel="stylesheet" href="/css/article.css" />

    <link rel="icon" type="image/png" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Dalton Rowe"
      href="/feed.xml"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="article">
    <header id="header">
      <a class="back" href="/">← Back</a>
      <h1>{{headline}}</h1>
      <span class="subtitle">{{subtitle}}</span>
    </header>

    <main id="main">
      {{html}}
      <div id="signoff"></div>
    </main>
  </body>
</html>
