<html>

<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="./css/shared.css" />
  <link rel="stylesheet" href="./css/home.css" />

  <link rel="icon" type="image/png" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <header id="home-header">
    <h1>Dalton Rowe</h1>

    <div id="links">
      <a href="https://github.com/daltonrowe?tab=repositories">Code</a>
      <a href="./resume" title="View Resume">Work</a>
      <a href="./links" title="Links">Links</a>
    </div>
  </header>

  <main id="main">
    {{html}}
  </main>
</body>

</html>