<html>

<head>
  <meta charset="UTF-8" />
  <title>Link: {{url}}</title>
  <link rel="stylesheet" href="./css/shared.css" />
  <link rel="stylesheet" href="./css/micro.css" />

  <link rel="icon" type="image/png" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="link">
  <header id="header">
    <a class="back" href="/">← Back</a>
    <h1>{{title}}</h1>
  </header>

  <main id="main">
    <a href="{{url}}" target="_blank">{{url}}</a>
    {{html}}
  </main>
</body>

</html>